@page "/PerformanceReviewAdministratorPage"

@using Training.Website.Models.Reviews;

<!-- SELECT REVIEW YEAR -->
<table style="width: 100%; padding-top: 45px;">
    <tr>
        <td colspan="2" style="width: 100%; text-align: center;">
            <h3>Performance Review Administrator Page</h3>
        </td>
    </tr>
    <tr>
        <td style="width: 50%; text-align: right; padding-right: 6px; font-weight: 700;">
            Select Review Year:
        </td>
        <td style="width: 50%; text-align: left; padding-left: 6px;">
            <TelerikDropDownList Class="UniformWidth_DropDown"
                                 Width="200px"
                                 Data="_reviewYears"
                                 Enabled="true"
                                 ValueChanged="@(async (string newValue) => await ReviewYearChanged(newValue))">
                <DropDownListSettings>
                    <DropDownListPopupSettings Height="180px" />
                </DropDownListSettings>
            </TelerikDropDownList>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td style="width: 100%;">
            <TelerikGrid Data="@_questions"
                         Pageable="false" ScrollMode="GridScrollMode.Scrollable" Sortable="true" Resizable="true" Reorderable="false"
                         Width="1600px" Height="750px"
                         FilterMode="@GridFilterMode.None" Groupable="false"
                         SelectionMode="GridSelectionMode.None">
                <GridColumns>
                    <GridColumn Field="@nameof(PerformanceReviewQuestionModel.Question_ID)" Title="Question ID" Width="90px" />
                    <GridColumn Field="@nameof(PerformanceReviewQuestionModel.QuestionNumber)" Title="Question Number" Width="90px" />
                    <GridColumn Field="@nameof(PerformanceReviewQuestionModel.Question)" Title="Question" Width="120px" />
                    <GridColumn Field="@nameof(PerformanceReviewQuestionModel.AnswerFormat)" Title="Answer Format" Width="130px" />
                </GridColumns>
            </TelerikGrid>
        </td>
    </tr>
</table>

