@page "/PerformanceReview"
@using Models.Reviews

<TelerikWindow Modal="true"
               Visible="@_reviewNotStatusNotChangedWindow_Visible"
               CloseOnOverlayClick="false"
               Width="800px"
               Height="200px">
    <WindowContent>
        <table style="width: 100%; height: 100%; background-color: black; border-color: black;">
            <tr>
                <td style="width: 100%; text-align: center; font-size: large; color: white; font-weight: 700;" background-color: black;>
                    REVIEW STATUS NOT CHANGED
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <TelerikButton Class="Close" OnClick="@(() => ReviewStatusNotChangedWindowClicked())">Close</TelerikButton>
                </td>
            </tr>
        </table>
    </WindowContent>
</TelerikWindow>


<!-- SELECT REVIEW YEAR -->
<table style="width: 100%; padding-top: 45px;">
    <tr>
        <td style="width: 50%; text-align: right; padding-right: 6px; font-weight: 700;">
            Select Review Year:
        </td>
        <td style="width: 50%; text-align: left; padding-left: 6px;">
            <TelerikDropDownList Class="UniformWidth_DropDown"
                                 Width="200px"
                                 Data="_reviewYears"
                                 Enabled="true"
                                 ValueChanged="@(async (string newValue) => await ReviewYearChanged(newValue))">
                <DropDownListSettings>
                    <DropDownListPopupSettings Height="180px" />
                </DropDownListSettings>
            </TelerikDropDownList>
        </td>
    </tr>
</table>

@if (_selectedReviewYear != null)
{
    <!-- [year] PERFORMANCE REVIEW HEADER -->
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%; text-align: center; font-weight: 700; background-color: lightgray;">
                <h2>@_selectedReviewYear Performance Review</h2>
            </td>
        </tr>
    </table>

    <!-- SAVING CHANGES HEADER -->
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%; text-align: center; color: blue; font-size: larger; font-weight: 700;">
                CLICK "Save Changes" ON BOTTOM TO SAVE CHANGES.<br />
                CLICK "Submit Review" ON BOTTOM TO SUBMIT A REVIEW.<br />
                MANAGERS MUST ANSWER ALL QUESTIONS TO CHANGE A REVIEW STATUS.<br />
                FOR MANAGERS TO SUBMIT A REVIEW, ALL QUESTIONS MUST BE ANSWERED AND SAVED, AND REVIEW STATUS MUST BE CHANGED.
            </td>
        </tr>
    </table>

    <!-- [user] HEADER AND DROP DOWN LIST -->
    <table style="width: 100%; padding-top: 45px;">
        <tr>
            <td style="width: 50%; text-align: right; padding-right: 9px;">
                Employee:
            </td>
            <td style="width: 50%; text-align: left; padding-left: 9px;">
                <TelerikDropDownList Class="UniformWidth_DropDown"
                                     Width="200px"
                                     Data="@_allUsersForDropDown?.Select(q => q?.FullName)"
                                     Enabled="true"
                                     ValueChanged="@(async (string newValue) => await UserForDropDownChanged(newValue))">
                    <DropDownListSettings>
                        <DropDownListPopupSettings Height="360px" />
                    </DropDownListSettings>
                </TelerikDropDownList>
            </td>
        </tr>
    </table>

    @if (_allUsersForDropDown != null && _selectedUser != null)
    {
        @if (_loading == true)
        {
            <!-- "Loading..." HEADER -->
            <table style="width: 100%; padding-top: 30px;">
                <tr>
                    <td style="width: 100%; text-align: center; font-style: italic; font-weight: 700; font-size: x-large; background-color: lightyellow;">
                        Loading...
                    </td>
                </tr>
            </table>
        }

        <!-- EMPLOYEE INFORMATION HEADER -->
        <table class="table_center">
            <tr>
                <td class="column134">&nbsp;&nbsp;&nbsp;</td>
                <td class="column2">&nbsp;&nbsp;&nbsp;</td>
                <td class="column134 borders">ADP File #:</td>
                <td class="column134 borders">@_headerInfo?.BadgeNum</td>
            </tr>
            <tr>
                <td class="column134 borders">Job Title:</td>
                <td class="column2 borders">@_headerInfo?.JobTitleName</td>
                <td class="column134 borders">Hire Date:</td>
                <td class="column134 borders">@_headerInfo?.HireDate?.ToShortDateString()</td>
            </tr>
            <tr>
                <td class="column134 borders">Location:</td>
                <td class="column2 borders">@_headerInfo?.SiteName</td>
                <td class="column134 borders">Employee Type:</td>
                <td class="column134 borders">@_headerInfo?.EmployeeType</td>
            </tr>
            <tr>
                <td class="column134 borders">Practice Group:</td>
                <td class="column2 borders">@_headerInfo?.PracticeGroupName</td>
                <td class="column134 borders">Shift:</td>
                <td class="column134 borders">@_headerInfo?.Shift</td>
            </tr>
            <tr>
                <td class="column134 borders">Department(s):</td>
                <td class="column2 borders">@_headerInfo?.Departments</td>
                <td class="column134 borders">Review Status:</td>
                <td class="column134 borders" style="font-weight: 700;">@Globals.ReviewStatuses[_selectedReview!.Status_ID_Type]</td>
            </tr>
        </table>

        @if (_selectedReview != null && _selectedReview.Status_ID != null)
        {
            <!-- "New Review Status" HEADERS DROP DOWN -->
            <table class="table_center">
                <tr>
                    <td style="width: 50%; text-align: right; padding-top: 9px; padding-right: 9px;">
                        New Review Status:
                    </td>
                    <td style="width: 50%; text-align: left; padding-top: 3px; padding-left: 9px;">
                        <TelerikDropDownList Class="UniformWidth_DropDown"
                                             Width="200px"
                                             Data="@ReviewStatuses()"
                                             Enabled="@AllQuestionsAnswered()"
                                             ValueChanged="@((string newValue) => ReviewStatusChanged(newValue) )">
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="180px" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                    </td>
                </tr>
            </table>
        }

        @if (_questions != null && _answerFormats != null)
        {
            <table style="width: 100%; padding-top: 30px;">
                @foreach (PerformanceReviewQuestionModel? question in _questions)
                {
                    if (question != null)
                    {
                        <tr>
                            <td style="width: 20%; text-align: right; padding-right: 20px; padding-top: 15px;">
                                @question?.QuestionNumber)
                            </td>
                            <td style="padding-top: 15px;">
                                @question?.Question
                            </td>
                        </tr>
                        <tr>
                            <td />
                            <td>
                                @if(question?.AnswerFormat != null && question.Question_ID != null)
                                {
                                    @if(_answerFormats[question.AnswerFormat.Value] == Globals.RadioButtons)
                                    {
                                        <TelerikRadioGroup
                                            Data="@RadioChoicesForQuestion(question.Question_ID)"
                                            @bind-Value="question.RadioChoice_ID"
                                            Enabled="@CanEditAnswer()"
                                            Layout="RadioGroupLayout.Vertical"
                                            OnChange="@RadioChoiceHandler"
                                            ValueField="@nameof(RadioChoiceModel.RadioChoice_ID)"
                                            TextField="@nameof(RadioChoiceModel.RadioChoice_Text)"
                                        />
                                    }
                                    else if(_answerFormats[question.AnswerFormat.Value] == Globals.TextArea)
                                    {
                                        <TelerikTextArea
                                            @bind-Value="@question.Answer"
                                            OnChange="@TextBoxAreaChanged"
                                            MaxLength="4000"
                                            Enabled="@CanEditAnswer()"
                                            Rows="20" />
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2" style="align-content: center; align-items: center; text-align: center;">
                        <TelerikButton OnClick="@SaveAnswersClicked" Enabled="@SaveAnswersEnabled()">
                            <span style="font-size: xx-large; font-weight: 700; width: 400px;">Save Answers</span>
                        </TelerikButton>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="align-content: center; align-items: center; text-align: center;">
                        <TelerikButton OnClick="@SubmitReviewClicked" Enabled="@SubmitReviewEnabled()">
                            <span style="font-size: xx-large; font-weight: 900; width: 400px;">Submit Review</span>
                        </TelerikButton>
                    </td>
                </tr>
            </table>
        }
    }
}
<style>
   .table_center {
       width: 60%;
       margin-left: auto;
       margin-right: auto;
    }
   .column134 {
       padding-left: 6px;
       width: 20%;
   }
   .column2 {
       padding-left: 6px;
       width: 40%;
   }
   .borders {
       border: 1px black solid
   }

  .UniformWidth_DropDown {
    width: 260px;
    background-color: white;
  }
</style>
