@page "/Reports"
@using Training.Website.Models

<table width="100%" style="background-color: lightgray;">
    <tr>
        <td style="text-align: right; padding-right: 30px; width: 70%;">
            <span style="font-weight: 700;">Session ID#: </span>
            <TelerikDropDownList
                Data="@_sessions"
                Value="_selectedSessionString"
                ValueChanged="@(async (string newValue) => await SessionChanged(newValue))"
                Enabled="true"
                Width="900px">
                <DropDownListSettings>
                    <DropDownListPopupSettings Height="180px" />
                </DropDownListSettings>
            </TelerikDropDownList>
        </td>
        <td style="text-align: left; padding-left: 60px;">
            <span style="font-weight: 700; padding-right: 15px;">Total # of Users:</span>
            <span style="font-weight: 500;">@(_emailedUsers?.Count())</span>
        </td>
    </tr>
    @if (_dueDate != null)
    {
        <tr>
            <td colspan="2" style="text-align: center">
                Due Date: @_dueDate!.Value.ToShortDateString()
            </td>
        </tr>
    }
    <tr>
        <td colspan="2" style="text-align: center; background-color: white; padding-top: 6px; padding-bottom: 6px;">
            <TelerikButton Class="UniformButton"
                           OnClick="@(async() => await Globals.ExportToExcelFile(_emailedReports) )"
                           Enabled="true">
                EXPORT TO EXCEL
            </TelerikButton>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <TelerikGrid
                @ref="@_emailedReports"
                Data="@_emailedUsers"
                Pageable="false" ScrollMode="GridScrollMode.Scrollable" Sortable="true" Resizable="true" Reorderable="false"
                Width="100%" Height="800px"
                FilterMode="@GridFilterMode.None" Groupable="false"
                SelectionMode="GridSelectionMode.None">
                <GridColumns>
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.Session_ID)" Title="Session ID" Width="90px" />
                    <!--
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.OPS_Emp_ID)" Title="OPS ID" Visible="true" Width="90px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.CMS_User_ID)" Title="CMS ID" Visible="true" Width="90px"  />
                    -->
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.FirstName)" Title="First Name" Width="90px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.LastName)" Title="Last Name" Width="120px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.Email)" Title="Email" Width="180px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.Role)" Title="Role" Width="90px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.Title)" Title="Title" Width="150px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.DueDate)" Title="Due Date" Width="105px" DisplayFormat="{0:MM/dd/yyyy}" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.Status)" Title="Status" Width="105px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.WhoFirstSent)" Title="First Sent By" Width="200px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.WhenFirstSent)" Title="When First Sent" Width="150px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.WhoLastUpdated)" Title="Last Updated By" Width="200px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.WhenLastUpdated)" Title="When Last Updated" Width="150px" />
                    <GridColumn Field="@nameof(EMailReportBySessionIdModel.WhenUserLastSubmitted)" Title="When Last Submitted" Width="150px" />
                </GridColumns>
                <DetailTemplate>
                    @{
                        var row = context as EMailReportBySessionIdModel;

                        <TelerikGrid
                            Data="@_results?.Where(q => q?.OPS_User_ID == row?.OPS_Emp_ID || (row?.OPS_Emp_ID == null && row?.CMS_User_ID == row?.CMS_User_ID) ).OrderBy(s => s?.QuestionnaireNumber)"
                            Height="120px"
                            Pageable="false"
                            Sortable="true"
                            PageSize="@Globals.MaximumTestAttemptsPerSession">
                            <GridColumns>
                                <GridColumn Field="@nameof(ResultsModel.TestAttempt_ID)" Title="Test Attempt ID" Visible="false" />
                                <GridColumn Field="@nameof(ResultsModel.QuestionnaireNumber)" Title="Questionnaire #" Width="120px" />
                                <GridColumn Field="@nameof(ResultsModel.Score)" Title="Score" Width="90px" />
                                <GridColumn Field="@nameof(ResultsModel.WhenSubmitted)" Title="When Submitted" Width="150px" />
                                <GridColumn Field="@nameof(ResultsModel.WhenMustRetakeBy)" Title="When Must Retake By" Width="150px" />
                            </GridColumns>
                        </TelerikGrid>
                    }
                </DetailTemplate>
                <GridExport>
                    <GridExcelExport FileName="@Globals.ExportFilename("EmailedUsers_Session", _selectedSessionString)"
                                     AllPages="false" />
                </GridExport>
            </TelerikGrid>
        </td>
    </tr>
</table>


<style>
    span.HeaderClass {
        height: 30px;
    }

    td.HeaderClass {
        font-weight: 700;
    }

    .HeaderClassCentered {
        text-align: center;
    }
</style>