@page "/TrainingQuestionnaireAudience"

@if(ApplicationState == null)
{
    <p><strong>Error: ApplicationState is null...</strong></p>
}
else
{
    <table width="100%" style="background-color: lightgray;">
        <tr>
            <td class="HeaderClass" style="width: 50%;">
                <span class="HeaderClass">Session ID#</span>
                <br />
                <TelerikDropDownList Data="@_sessions"
                                     Value="_selectedSessionString"
                                     ValueChanged="@(async (string newValue) => await SessionChanged(newValue))"
                                     Enabled="true"
                                     Width="900px">
                    <DropDownListSettings>
                        <DropDownListPopupSettings Height="180px" />
                    </DropDownListSettings>
                </TelerikDropDownList>
            </td>
            <td class="HeaderClass HeaderClassCentered">
                <span class="HeaderClass">Roles:</span>
                <br />
                <TelerikMultiSelect
                    Class="UniformWidth_DropDown"
                    AutoClose="false"
                    Enabled="true"
                    Data="@_roles?.Select(q => q?.Value).Order()"
                    Value="@_selectedRoles"
                    ValueChanged="@((List<string> newValues) => RolesMultiSelectChanged(newValues) )"
                    TagMode="@MultiSelectTagMode.Multiple">
                    <MultiSelectSettings>
                        <MultiSelectPopupSettings Height="300px" />
                    </MultiSelectSettings>
                </TelerikMultiSelect>
            </td>
            <td class="HeaderClass HeaderClassCentered">
                <span class="HeaderClass">Titles:</span>
                <br />
                <TelerikMultiSelect Class="UniformWidth_DropDown"
                                    AutoClose="false"
                                    Enabled="true"
                                    Data="@_titles?.Select(q => q?.Value).Order()"
                                    Value="@_selectedTitles"
                                    ValueChanged="@((List<string> newValues) => TitlesMultiSelectChanged(newValues))"
                                    TagMode="@MultiSelectTagMode.Multiple">
                    <MultiSelectSettings>
                        <MultiSelectPopupSettings Height="180px" />
                    </MultiSelectSettings>
                </TelerikMultiSelect>

            </td>
        </tr>
    </table>
}

    

<style>
    span.HeaderClass {
        height: 30px;
    }
    td.HeaderClass {
        font-weight: 700;
    }
    .HeaderClassCentered {
        text-align: center;
    }

    .DisableMe {
        color: darkgrey;
    }

    .UniformWidth_DropDown {
        width: 260px;
        background-color: white;
    }
</style>