@page "/TrainingQuestionnaireAdministrator"
@using Training.Website.Models
@using Training.Website.Services

<table width="100%">
    <tr>
        <td style="width: 100%; text-align: center; padding-bottom: 30px;">
            <label style="padding-right: 30px;">Session ID:</label>
            <TelerikDropDownList
                Data="@_sessions"
                Value="_selectedSessionString"
                ValueChanged="@(async (string newValue) => await SessionChanged(newValue) )"
                Enabled="@(! AddOrEditMode())"
                Width="350px">
                <DropDownListSettings>
                    <DropDownListPopupSettings Height="180px" />
                </DropDownListSettings>
            </TelerikDropDownList>
        </td>
    </tr>
</table>
@if(_selectedSessionString != null)
{
    <!-- TOP PORTION OF PAGE -->
    <table style="width: 100%;">
        @if (_sessionHasQuestions == true || AddOrEditMode() == true)
        {
            <!-- QUESTION TEXTBOX -->
            <tr>
                <td class="QuestionsTopHalfHeader_Left">
                    @if (_sessionHasQuestions == true)
                    {
                        <label>Question #@_questions?[_currentQuestionIndex!.Value].QuestionNumber:</label>
                    }
                    else
                    {
                        <label>Question #@(_questions?.Count + 1)</label>
                    }
                </td>
                <td class="QuestionsTopHalfHeader_Center">
                    <TelerikTextBox @bind-value="@_currentQuestionText" Enabled="@AddOrEditMode()" />
                </td>
                <td class="QuestionsTopHalfHeader_Right">
                    @if (AddOrEditMode() == false)
                    {
                        <TelerikButton Enabled="true" OnClick="@(async () => await MoveUpButtonClicked() )">Move Up</TelerikButton><br />
                        <TelerikButton Enabled="true" OnClick="@(async () => await MoveDownButtonClicked() )">Move Down</TelerikButton><br />
                        <TelerikButton Enabled="true" OnClick="@(() => AddQuestionClicked())">Add Question</TelerikButton><br />
                        <label>Remove Question</label><br />
                        <label>Edit Question</label><br />
                    }
                    else
                    {
                        <TelerikButton Enabled="@OkToSave()" OnClick="@(async () => await SaveButtonClicked())">Save</TelerikButton><br />
                        <TelerikButton Enabled="true" OnClick="@(async () => await CancelButtonClicked())">Cancel</TelerikButton>
                    }
                </td>
            </tr>
            <!-- FORMAT DROPDOWN -->
            <tr>
                <td class="QuestionsTopHalfHeader_Left">Format:</td>
                <td class="QuestionsTopHalfHeader_Center">
                    <TelerikDropDownList
                        Data="@_answerFormats?.Values"
                        Value="@_currentAnswerFormat"
                        ValueChanged="@((string newValue) => AnswerFormatChanged(newValue) )"
                        Width="210px"
                        Enabled="@AddOrEditMode()">
                        <DropDownListSettings>
                            <DropDownListPopupSettings Height="120px" />
                        </DropDownListSettings>
                    </TelerikDropDownList>
                    @if (AddOrEditMode() == true && _currentAnswerFormat == _multipleChoice)
                    {
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <TelerikButton Enabled="true" OnClick="@(() => AddAnswerChoiceClicked())">Add Answer Choice</TelerikButton>
                    }
                </td>
            </tr>
            <!-- ANSWER CHOICES IF MULTIPLE CHOICE -->
            @if(_currentAnswerFormat == _multipleChoice)
            {
                if (_addMode == false)
                {
                    _currentAnswerChoices =
                        CommonServiceMethods.GetAnswerChoicesByQuestionID(_questions![_currentQuestionIndex!.Value].Question_ID!.Value, Database)?.ToList();
                }
                else if (_currentAnswerChoices == null)
                {
                    _currentAnswerChoices = new List<AnswerChoicesModel>();
                }
                foreach(AnswerChoicesModel answerChoice in _currentAnswerChoices!)
                {
                    string? answerText = answerChoice?.AnswerText;
                    <tr>
                        <td class="QuestionsTopHalfHeader_Left">
                            @if(answerChoice?.AnswerLetter.ToString()?.ToLower() == "a")
                            {
                                <label>Multiple choice options:</label>   
                            }
                            <label>@answerChoice?.AnswerLetter)</label>
                        </td>
                        <td class="QuestionsTopHalfHeader_Center">
                            <TelerikTextBox @bind-value="@answerText" Enabled="@AddOrEditMode()" />
                        </td>
                    </tr>
                }
            }
            <!-- CORRECT ANSWER -->
            <tr>
                <td class="QuestionsTopHalfHeader_Left">Correct Answer:</td>
                <td class="QuestionsTopHalfHeader_Center">
                    <TelerikDropDownList
                        Data="@_currentCorrectAnswerPossibilities"
                        Value="@_currentSelectedCorrectAnswer"
                        ValueChanged="@((string newValue) => CorrectAnswerChanged(newValue) )"
                        Width="90px"
                        Enabled="@AddOrEditMode()">
                        <DropDownListSettings>
                            <DropDownListPopupSettings Height="120px" />
                        </DropDownListSettings>
                    </TelerikDropDownList>
                </td>
                <td class="QuestionsTopHalfHeader_Right">&nbsp;</td>
            </tr>
        }
        else
        {
            <tr>
                <td class="NoQuestionsTopHalfHeader_Left">
                    ** THERE ARE NO QUESTIONS FOR THIS SESSION **
                </td>
                <td class="NoQuestionsTopHalfHeader_Right">
                    <TelerikButton Enabled="true" OnClick="@(() => AddQuestionClicked())">Add Question</TelerikButton>
                </td>
            </tr>
        }
    </table>




















    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- BOTTOM PORTION OF PAGE -->
    <TelerikWindow Modal="false" Visible="true" Width="60%" Height="48%" Top="52%" Left="20%">
        <WindowContent>
            <table style="width: 100%; border: 2px solid; border-color: black;">
                <tr>
                    <td colspan="2" style="width: 100%; text-align: center;">
                        <h4><b><u>@_selectedSession?.DocTitle</u></b></h4>
                        <br />
                    </td>
                </tr>
                @if (_questions != null)
                {
                    @foreach(QuestionsModel? question in _questions)
                    {
                        string? answerFormat = _answerFormats?[question.AnswerFormat!.Value];
                        IEnumerable<AnswerChoicesModel>? answerChoices = CommonServiceMethods.GetAnswerChoicesByQuestionID(question.Question_ID!.Value, Database);

                        <tr>
                            <td style="width: 20%; text-align: right;">
                                @question.QuestionNumber<label>.</label>
                            </td>
                            <td style="width: 80%; text-align: left; padding-left: 20px;">
                                @question.Question
                            </td>
                        </tr>

                        @if (AnswerFormatMatch(answerFormat, _multipleChoice) == true)
                        {
                            @foreach(AnswerChoicesModel answerChoice in answerChoices!)
                            {
                                <tr>
                                    <td colspan="2">
                                        <table style="width: 100%">
                                            <tr>
                                                <td style="width: 25%; text-align: right;">
                                                    @answerChoice.AnswerLetter
                                                </td>
                                                <td style="width: 75%; text-align: left; padding-left: 30px;">
                                                    @answerChoice.AnswerText
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td style="text-align: left; padding-left: 30px;">
                                    @if (AnswerFormatMatch(answerFormat, _trueFalse) == true)
                                    {
                                        <label>True or False?</label>
                                    }
                                    else if (AnswerFormatMatch(answerFormat, _yesNo) == true)
                                    {
                                        <label>Yes or No?</label>
                                    }
                                    else
                                    {
                                        throw new Exception("Invalid answer format.");
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <table>
                                    <tr>
                                        <td style="padding-top: 15px;">Answer:</td>
                                        <td style="padding-top: 15px; padding-left: 15px;">
                                            @if (question.CorrectAnswer?.Length == 1)
                                            {
                                                @question.CorrectAnswer?.ToLower()
                                            }
                                            else
                                            {
                                                @question.CorrectAnswer
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><br /><br /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                }
            </table>
        </WindowContent>
    </TelerikWindow>
}
<style>
    .QuestionsTopHalfHeader_Left {
        width: 35%;
        text-align: right;
        font-size: smaller;
        padding-right: 15px;
    }
    .QuestionsTopHalfHeader_Center {
        width: 45%;
        text-align: left;
        font-size: smaller;
    }
    .QuestionsTopHalfHeader_Right {
        width: 20%;
        padding-left: 20px;
    }
    .NoQuestionsTopHalfHeader_Left {
        width: 80%;
        text-align: center;
        font-size: larger;
        color: red;
    }
    .NoQuestionsTopHalfHeader_Right {
        width: 20%;
        text-align: center;
    }
</style>