@using Training.Website.Models.Users

@page "/TrainingQuestionnaireAudience"

@if(ApplicationState == null)
{
    <p><strong>Error: ApplicationState is null...</strong></p>
}
else
{
    <TelerikWindow
        Modal="true"
        Visible="@_emailsSentWindowVisible"
        CloseOnOverlayClick="false"
        Width="800px"
        Height="200px">
        <WindowContent>
            <table style="width: 100%; height: 100%; background-color: black; border-color: black;">
                <tr>
                    <td style="width: 100%; text-align: center; font-size: large; color: white; font-weight: 700;" background-color: black;>
                        EMAIL(S) SENT
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <TelerikButton Class="Close" OnClick="@(() => EmailsSentCloseClicked())">Close</TelerikButton>
                    </td>
                </tr>
            </table>
        </WindowContent>
    </TelerikWindow>

    <table width="100%" style="background-color: lightgray;">
        <tr>
            <td class="HeaderClass" style="width: 50%;">
                <span class="HeaderClass">Session ID#</span>
                <br />
                <TelerikDropDownList Data="@_sessions"
                                     Value="_selectedSessionString"
                                     ValueChanged="@(async (string newValue) => await SessionChanged(newValue))"
                                     Enabled="true"
                                     Width="900px">
                    <DropDownListSettings>
                        <DropDownListPopupSettings Height="180px" />
                    </DropDownListSettings>
                </TelerikDropDownList>
            </td>
            <td class="HeaderClass HeaderClassCentered">
                <span class="HeaderClass">Roles:</span>
                <br />
                <TelerikMultiSelect
                    Class="UniformWidth_DropDown"
                    AutoClose="false"
                    Enabled="true"
                    Data="@_roles?.Select(q => q?.Value).Order()"
                    Value="@_selectedRoles"
                    ValueChanged="@((List<string> newValues) => RolesMultiSelectChanged(newValues) )"
                    TagMode="@MultiSelectTagMode.Multiple">
                    <MultiSelectSettings>
                        <MultiSelectPopupSettings Height="300px" />
                    </MultiSelectSettings>
                </TelerikMultiSelect>
            </td>
            <td class="HeaderClass HeaderClassCentered">
                <span class="HeaderClass">Titles:</span>
                <br />
                <TelerikMultiSelect Class="UniformWidth_DropDown"
                                    AutoClose="false"
                                    Enabled="true"
                                    Data="@_titles?.Select(q => q?.Value).Order()"
                                    Value="@_selectedTitles"
                                    ValueChanged="@((List<string> newValues) => TitlesMultiSelectChanged(newValues))"
                                    TagMode="@MultiSelectTagMode.Multiple">
                    <MultiSelectSettings>
                        <MultiSelectPopupSettings Height="180px" />
                    </MultiSelectSettings>
                </TelerikMultiSelect>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="HeaderClass" style="text-align: center;">
                <span style="padding-right: 30px;" class="HeaderClass">Due Date:</span>
                <TelerikDatePicker
                    Min="@_minimumDueDate"
                    Enabled="@SessionSelected()"
                    Width="200px"
                    @bind-Value="@_dueDate" />
            </td>
        </tr>
    </table>

    @if (_allUsers_Assignment != null && _allUsers_Assignment.Count() > 0)
    {
        <table width="100%">
            <tr>
                <td colspan="2" style="text-align: center;">
                    <TelerikButton Class="UniformButton" OnClick="@(() => DeSelectAllClicked() )">De-select All</TelerikButton>
                </td>
            </tr>
            <tr>
                <td style="width: 85%; text-align: center;">
                    <!-- DISPLAY GRID -->
                    <TelerikGrid
                        Data="@_allUsers_Assignment"
                        Pageable="false" ScrollMode="GridScrollMode.Scrollable" Sortable="true" Resizable="true" Reorderable="false"
                        Width="100%" Height="700px"
                        FilterMode="@GridFilterMode.None" Groupable="false"
                        SelectionMode="GridSelectionMode.None"
                        OnRowClick="@OnRowClickHandler_AllUsers">
                        <GridColumns>
                            <!-- https://www.telerik.com/forums/checkbox-column-f1b24f092353 -->
                            <GridColumn Field="@nameof(AllUsers_Assignment.Selected)" Title="Selected" Width="65px">
                                <!-- https://github.com/telerik/blazor-docs/blob/master/components/grid/templates/column.md -->
                                <Template>
                                    @{
                                        var item = (AllUsers_Assignment)context;
                                        if (item.Selected == true)
                                        {
                                            <label class="CheckSelected">✔</label>
                                        }
                                        else
                                        {
                                            <span class="CheckSelected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field="@nameof(AllUsers_Assignment.UserName)" Title="User Name" Width="300px" />
                            <GridColumn Field="@nameof(AllUsers_Assignment.EmailAddress)" Title="Email" Width="210px" />
                            <GridColumn Field="@nameof(AllUsers_Assignment.RoleDesc)" Title="Role" Width="180px" />
                            <GridColumn Field="@nameof(AllUsers_Assignment.TitleDesc)" Title="Title" Width="180px" />
                        </GridColumns>
                        <GridExport>
                            <GridExcelExport FileName="@Globals.ExportFilename("UserList_Session", _selectedSessionString)"
                                             AllPages="false" />
                        </GridExport>
                    </TelerikGrid>
                    <!-- EXPORT GRID -->
                    <TelerikGrid @ref="@_allUsers_Assignment_ExportGrid"
                                 Data="@_allUsers_Assignment.Where(q => q?.Selected == true)"
                                 Width="0px" Height="0px">
                        <GridColumns>
                            <GridColumn Field="@nameof(AllUsers_Assignment.UserName)" Title="User Name" Width="300px" />
                            <GridColumn Field="@nameof(AllUsers_Assignment.EmailAddress)" Title="Email" Width="210px" />
                            <GridColumn Field="@nameof(AllUsers_Assignment.RoleDesc)" Title="Role" Width="180px" />
                            <GridColumn Field="@nameof(AllUsers_Assignment.TitleDesc)" Title="Title" Width="180px" />
                        </GridColumns>
                        <GridExport>
                            <GridExcelExport FileName="@Globals.ExportFilename("UserList_Session", _selectedSessionString)"
                                             AllPages="false" />
                        </GridExport>
                    </TelerikGrid>
                </td>
                <td style="text-align: center; align-items: center; width: 15%;">
                    <TelerikButton Class="UniformButton"
                                   OnClick="@(async() => await Globals.ExportToExcelFile(_allUsers_Assignment_ExportGrid) )"
                                   Enabled="true">
                        EXPORT TO EXCEL
                    </TelerikButton>
                    <br />
                    <TelerikButton
                        Class="UniformButton"
                        OnClick="@(() => SendEmailsToSelectedAndLogToDB_Main() )"
                        Enabled="true">
                        SEND EMAILS TO SELECTED
                    </TelerikButton>
                </td>
            </tr>
        </table>
    }
}

<style>
    span.HeaderClass {
        height: 30px;
    }
    td.HeaderClass {
        font-weight: 700;
    }
    .HeaderClassCentered {
        text-align: center;
    }

    .Close {
        background-color: lightgray;
        color: black;
        text-align: center;
    }

    .DisableMe {
        color: darkgrey;
    }

    .UniformButton {
        font-size: small;
        width: 160px;
    }

    .UniformWidth_DropDown {
        width: 260px;
        background-color: white;
    }

    .CheckSelected {
        width: 100%;
        text-align: center;
        font-size: large;
        /*
        color: black;
        border: black 2px solid;
        */
    }
</style>