@page "/TrainingQuestionnaireAdministrator"
@using Training.Website.Models
@using Training.Website.Services

<!-- TOP PORTION OF PAGE -->
<TelerikWindow Modal="false" Resizable="false" Visible="true" Width="@_windowWidth" Top="@_topWindowTop" Left="@_windowLeft">
    <WindowContent>
        <table width="100%">
            <tr>
                <td style="width: 100%; text-align: center;">
                    Administrator Page
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding-bottom: 30px;">
                    <label style="padding-right: 30px;">Session ID:</label>
                    <TelerikDropDownList
                        Data="@_sessions_FullText"
                        Value="_selectedSessionString"
                        ValueChanged="@(async (string newValue) => await SessionChanged(newValue) )"
                        Enabled="@(! AddOrEditMode())"
                        Width="900px">
                        <DropDownListSettings>
                            <DropDownListPopupSettings Height="180px" />
                        </DropDownListSettings>
                    </TelerikDropDownList>
                    <br />
                    <label style="padding-right: 30px;">Or type in session here:</label>
                    <TelerikAutoComplete
                        @ref="@_sessionIdAutoComplete"
                        Data="@_sessions_IDs"
                        DebounceDelay="50"
                        MinLength="3"
                        Placeholder="Or enter session ID here:"
                        ShowClearButton="true"
                        Value="@_keypressedSessionID"
                        ValueChanged="@((string newValue) => SessionIdAutoCompleteValueChanged(newValue) )"
                        OnClose="@(async (AutoCompleteCloseEventArgs args) => await OnCloseSessionIdAutoComplete(args) )"
                        Width="210px"
                    />

                </td>
            </tr>
        </table>
    </WindowContent>
</TelerikWindow>
@if(_selectedSessionString != null)
{
    <!-- MIDDLE PORTION OF PAGE -->
    <TelerikWindow Modal="false" Resizable="false" Visible="true" Width="@_windowWidth" Top="@_middleWindowTop" Left="@_windowLeft">
        <WindowContent>
            <table style="width: 100%;">
                @if (_sessionHasQuestions == true || AddOrEditMode() == true)
                {
                    <!-- QUESTION TEXTBOX -->
                    <tr>
                        <td class="QuestionsTopHalfHeader_Left">
                            @if (AddOrEditMode() == false)
                            {
                                <label>Question #@_questions?[_currentQuestionIndex!.Value].QuestionNumber:</label>
                            }
                            else
                            {
                                <label>Question #@_newQuestionNumber</label>
                            }
                        </td>
                        <td class="QuestionsTopHalfHeader_Center">
                            <TelerikTextBox @bind-value="@_currentQuestionText" Enabled="@AddOrEditMode()" />
                        </td>
                        <td class="QuestionsTopHalfHeader_Right">
                            @if (AddOrEditMode() == false)
                            {
                                <TelerikButton Class="UniformButton" Enabled="true" OnClick="@(async () => await MoveUpButtonClicked() )">Move Up</TelerikButton><br />
                                <TelerikButton Class="UniformButton" Enabled="true" OnClick="@(async () => await MoveDownButtonClicked() )">Move Down</TelerikButton><br />
                                <TelerikButton Class="UniformButton" Enabled="true" OnClick="@(() => AddQuestionClicked())">Add Question</TelerikButton><br />
                                <TelerikButton Class="UniformButton" Enabled="true" OnClick="@(() => EditQuestionClicked())">Edit Question</TelerikButton><br />
                                <TelerikButton Class="UniformButton" Enabled="true" OnClick="@(async () => await RemoveQuestionClicked())">Remove Question</TelerikButton>
                            }
                            else
                            {
                                <TelerikButton Class="UniformButton" Enabled="@OkToSave()" OnClick="@(async () => await SaveButtonClicked())">Save</TelerikButton><br />
                                <TelerikButton Class="UniformButton" Enabled="true" OnClick="@(async () => await CancelButtonClicked())">Cancel</TelerikButton>
                            }
                        </td>
                    </tr>
                    <!-- FORMAT DROPDOWN -->
                    <tr>
                        <td class="QuestionsTopHalfHeader_Left">Format:</td>
                        <td class="QuestionsTopHalfHeader_Center">
                            <TelerikDropDownList
                                Data="@_answerFormats?.Values"
                                Value="@_currentAnswerFormat"
                                ValueChanged="@((string newValue) => AnswerFormatChanged(newValue) )"
                                Width="210px"
                                Enabled="@AddOrEditMode()">
                                <DropDownListSettings>
                                    <DropDownListPopupSettings Height="120px" />
                                </DropDownListSettings>
                            </TelerikDropDownList>
                        </td>
                    </tr>
                    <!-- ANSWER CHOICES IF MULTIPLE CHOICE -->
                    @if(_currentAnswerFormat == Globals.MultipleChoice)
                    {
                        if (_addMode == false)
                        {
                            _currentMultipleChoiceAnswers_DB =
                                _service.GetAnswerChoicesByQuestionID(_questions![_currentQuestionIndex!.Value].Question_ID!.Value, Database)?.ToArray();
                        }
                        else if (_currentMultipleChoiceAnswers_DB == null || _currentMultipleChoiceAnswers_DB.Length != _maxMultipleChoices)
                        {
                            InitializeMultipleChoiceCurrentAnswerTextAndLetters();
                        }
                        foreach (AnswerChoicesModel answerChoice in _currentMultipleChoiceAnswers_DB!)
                        {
                            <tr>
                                <td class="QuestionsTopHalfHeader_Left">
                                    @if (answerChoice?.AnswerLetter.ToString()?.ToLower() == "a")
                                    {
                                        <label style="padding-right: 15px;">Multiple choice options:</label>
                                    }
                                    <label>@answerChoice?.AnswerLetter)</label>
                                </td>
                                <td class="QuestionsTopHalfHeader_Center">
                                    <TelerikTextBox @bind-value="@answerChoice!.AnswerText" Enabled="@_addMode" />
                                </td>
                            </tr>
                        }
                        if (_editMode == true)
                        {
                            @if(_originalAnswerFormat != Globals.MultipleChoice)
                            {
                                <tr>
                                    <td colspan="3" style="text-align: center; color: red; font-size: larger; font-weight: 700;">
                                        *** TO CONVERT AN EXISTING QUESTION TO MULTIPLE CHOICE, PLEASE DELETE THE ORIGINAL QUESTION AND RE-CREATE ***
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <td colspan="3">
                                    <table style="width: 100%; border: 1px solid; background-color: lightgray;">
                                        @if (_changedMultipleChoiceAnswers.Count > 0)
                                        {
                                            <tr>
                                                <td colspan="3" style="text-align: center;">
                                                    <u>Unsaved changes</u>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="QuestionsTopHalfHeader_Left">
                                                    Letter
                                                </td>
                                                <td class="QuestionsTopHalfHeader_Center">
                                                    Text
                                                </td>
                                            </tr>
                                            foreach(AnswerChoicesModel? multipleChoiceAnswer in _changedMultipleChoiceAnswers)
                                            {
                                                <tr>
                                                    <td class="QuestionsTopHalfHeader_Left">
                                                        @multipleChoiceAnswer?.AnswerLetter
                                                    </td>
                                                    <td class="QuestionsTopHalfHeader_Center">
                                                        @multipleChoiceAnswer?.AnswerText
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td colspan="3" style="text-align: center;">
                                                Enter multiple choice change
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="QuestionsTopHalfHeader_Left">
                                                <label style="padding-right: 15px;">Question Letter To Change:</label>
                                            </td>
                                            <td class="QuestionsTopHalfHeader_Center">
                                                <TelerikDropDownList
                                                    Data="@_currentAnswerChoices_DropDown"
                                                    Value="@_changedMultipleChoiceLetter"
                                                    OnChange="@ChangedMultipleChoiceLetterChanged"
                                                    Width="90px"
                                                    Enabled="true">
                                                    <DropDownListSettings>
                                                        <DropDownListPopupSettings Height="120px" />
                                                    </DropDownListSettings>
                                                </TelerikDropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="QuestionsTopHalfHeader_Left">
                                                <label style="padding-right: 15px;">Question Text To Change:</label>
                                            </td>
                                            <td class="QuestionsTopHalfHeader_Center">
                                                <TelerikTextBox @bind-Value="@_changedMultipleChoiceAnswer" Enabled="@(string.IsNullOrWhiteSpace(_changedMultipleChoiceLetter) == false)" OnBlur="@ChangedMultipleChoiceAnswerChanged" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            }
                        }
                    }
                    <!-- CORRECT ANSWER -->
                    <tr>
                        <td class="QuestionsTopHalfHeader_Left">Correct Answer:</td>
                        <td class="QuestionsTopHalfHeader_Center">
                            <TelerikDropDownList
                                Data="@_currentAnswerChoices_DropDown"
                                Value="@_currentSelectedCorrectAnswer"
                                ValueChanged="@((string newValue) => CorrectAnswerChanged(newValue) )"
                                Width="90px"
                                Enabled="@AddOrEditMode()">
                                <DropDownListSettings>
                                    <DropDownListPopupSettings Height="120px" />
                                </DropDownListSettings>
                            </TelerikDropDownList>
                        </td>
                        <td class="QuestionsTopHalfHeader_Right">&nbsp;</td>
                    </tr>
                }
                else if (_changingSession == false)
                {
                    <tr>
                        <td class="NoQuestionsTopHalfHeader_Left">
                            ** THERE ARE NO QUESTIONS FOR THIS SESSION **
                        </td>
                        <td class="NoQuestionsTopHalfHeader_Right">
                            <TelerikButton Class="UniformButton" Enabled="true" OnClick="@(() => AddQuestionClicked())">Add Question</TelerikButton>
                        </td>
                    </tr>
                }
            </table>
        </WindowContent>
    </TelerikWindow>




    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- BOTTOM PORTION OF PAGE -->
    <TelerikWindow Modal="false" Visible="true" Resizable="false" Width="@_windowWidth" Height="28%" Top="@_bottomWindowTop" Left="@_windowLeft">
        <WindowContent>
            <table style="width: 100%; border: 2px solid; border-color: black;">
                <tr>
                    <td colspan="2" style="width: 100%; text-align: center;">
                        <h4><b><u>@_selectedSession?.DocTitle</u></b></h4>
                        <br />
                    </td>
                </tr>
                @if (_sessionHasQuestions == true)
                {
                    @foreach(QuestionsModel? question in _questions!)
                    {
                        string? answerFormat = _answerFormats?[question.AnswerFormat!.Value];
                        IEnumerable<AnswerChoicesModel>? answerChoices = _service.GetAnswerChoicesByQuestionID(question.Question_ID!.Value, Database);

                        <tr>
                            <td style="width: 20%; text-align: right;">
                                @question.QuestionNumber<label>.</label>
                            </td>
                            <td style="width: 80%; text-align: left; padding-left: 20px;">
                                @question.Question
                            </td>
                        </tr>

                        @if (AnswerFormatMatch(answerFormat, Globals.MultipleChoice) == true)
                        {
                            @foreach(AnswerChoicesModel answerChoice in answerChoices!)
                            {
                                <tr>
                                    <td colspan="2">
                                        <table style="width: 100%">
                                            <tr>
                                                <td style="width: 25%; text-align: right;">
                                                    @answerChoice.AnswerLetter
                                                </td>
                                                <td style="width: 75%; text-align: left; padding-left: 30px;">
                                                    @answerChoice.AnswerText
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td style="text-align: left; padding-left: 30px;">
                                    @if (AnswerFormatMatch(answerFormat, Globals.TrueFalse) == true)
                                    {
                                        <label>True or False?</label>
                                    }
                                    else if (AnswerFormatMatch(answerFormat, Globals.YesNo) == true)
                                    {
                                        <label>Yes or No?</label>
                                    }
                                    else
                                    {
                                        throw new Exception("Invalid answer format.");
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <table>
                                    <tr>
                                        <td style="padding-top: 15px;">Answer:</td>
                                        <td style="padding-top: 15px; padding-left: 15px;">
                                            @if (question.CorrectAnswer?.Length == 1)
                                            {
                                                @question.CorrectAnswer?.ToLower()
                                            }
                                            else
                                            {
                                                @question.CorrectAnswer
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><br /><br /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                }
            </table>
        </WindowContent>
    </TelerikWindow>
}
<style>
    .QuestionsTopHalfHeader_Left {
        width: 35%;
        text-align: right;
        font-size: smaller;
        padding-right: 15px;
    }
    .QuestionsTopHalfHeader_Center {
        width: 45%;
        text-align: left;
        font-size: smaller;
    }
    .QuestionsTopHalfHeader_Right {
        width: 20%;
        padding-left: 20px;
    }
    .NoQuestionsTopHalfHeader_Left {
        width: 80%;
        text-align: center;
        font-size: larger;
        color: red;
    }
    .NoQuestionsTopHalfHeader_Right {
        width: 20%;
        text-align: center;
    }
    .UniformButton {
        width: 150px;
    }
</style>