@page "/TrainingQuestionnaireUser"

@using Training.Website.Models
@using Training.Website.Services

<table width="100%">
    <tr>
        <td colspan="2" style="width: 100%; text-align: center;">
            User Page
        </td>
    </tr>
    <tr>
        <td style="width: 30%; text-align: right; padding-bottom: 30px;">
            <label style="padding-right: 30px;">Session ID:</label>
        </td>
        <td style="width: 70%; padding-bottom: 30px;">
            <TelerikDropDownList Data="@_sessions_FullText"
                                 Value="_selectedSessionString"
                                 ValueChanged="@(async (string newValue) => await SessionChanged(newValue))"
                                 Enabled="true"
                                 Width="900px">
                <DropDownListSettings>
                    <DropDownListPopupSettings Height="180px" />
                </DropDownListSettings>
            </TelerikDropDownList>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; width: 30%;">
            <label style="padding-right: 30px;">Or type in session here:</label>
        </td>
        <td style="width: 70%;">
            <TelerikAutoComplete
                @ref="@_sessionIdAutoComplete"
                Data="@_sessions_IDs"
                DebounceDelay="50"
                MinLength="3"
                ShowClearButton="true"
                Value="@_keypressedSessionID"
                ValueChanged="@((string newValue) => SessionIdAutoCompleteValueChanged(newValue) )"
                OnClose="@(async (AutoCompleteCloseEventArgs args) => await OnCloseSessionIdAutoComplete(args) )"
                Width="210px"
            />
            <label style="width: 70%;">&nbsp;&nbsp;&nbsp;</label>
        </td>
    </tr>
</table>

@if (_testEligibility != null && string.IsNullOrWhiteSpace(_testEligibility.MessageLine1) == false)
{
    <table class="center-table">
        <tr>
            <td colspan="2" style="font-size: x-large; text-align: center;">
                <label>@_testEligibility.MessageLine1</label>
            </td>
        </tr>
        @if(string.IsNullOrWhiteSpace(_testEligibility.MessageLine2) == false)
        {
            <tr>
                <td colspan="2" style="font-size: x-large; text-align: center;">
                    <label>@_testEligibility.MessageLine2</label>
                </td>
            </tr>
        }
    </table>
}
@if (ShowUserResponses() == true)
{
    <table class="center-table">
        <tr>
            <td colspan="5" style="font-size: x-large; text-align: center; padding-top: 90px;">
                <u>ANSWER KEY:</u>
            </td>
        </tr>
        @foreach (UserResponsesModel? response in _userResponses!)
        {
            bool correctAnswer = response!.UserAnswer == response.CorrectAnswer;
            string statusColor = (correctAnswer == true) ? "green" : "red";
            string statusText = (correctAnswer == true) ? "Correct" : "Incorrect";

            <tr>
                <td class="ResponseHeader">Question #@response!.QuestionNumber:</td>
                <td class="ResponseHeader">@response.Question</td>
                <td class="Response">@UserAnswerText(response)</td>
                <td class="Status" style="color: @statusColor;">@statusText</td>
                <td class="Response">@CorrectAnswerText(response, correctAnswer)</td>
            </tr>
        }
        <tr>
            <td colspan="5" style="font-size: x-large; text-align: center;">
                <br />
                <TelerikButton Class="UniformButton" OnClick="@(() => CloseClicked())">Close</TelerikButton>
            </td>
        </tr>
    </table>
}
else if (_testEligibility != null && _testEligibility.NoMore == false && _selectedSessionString != null)
{
    <table style="width: 100%;">
        <tr>
            <td colspan="2" class="SpanBoth">
                @_questions?.Length questions
            </td>
        </tr>
        <tr>
            <td colspan="2" class="SpanBoth">
                @QuestionsAnswered() question(s) answered
            </td>
        </tr>
        <tr>
            <td class="LeftSide">
                <TelerikButton Class="UniformButton" Enabled="@(! AtFirstQuestion())" OnClick="@(async () => await PreviousQuestionClicked())">Previous Question</TelerikButton>
            </td>
            <td class="RightSide">
                <TelerikButton Class="UniformButton" Enabled="@(! AtLastQuestion())" OnClick="@(async () => await NextQuestionClicked())">Next Question</TelerikButton>
            </td>
        </tr>
        <tr>
            <td class="LeftSide">
                Question #@_questions?[_currentQuestionIndex].QuestionNumber:
            </td>
            <td class="RightSide">
                @_questions?[_currentQuestionIndex].Question
            </td>
        </tr>
        @if (_currentAnswerFormat == Globals.MultipleChoice && _currentMultipleChoiceAnswers != null) //IF _currentMultipleChoiceAnswers == null, SCREEN SHOULD REFRESH
        {
            foreach(AnswerChoicesModel? answerChoice in _currentMultipleChoiceAnswers)
            {
                <tr>
                    <td class="LeftSide">@answerChoice?.AnswerLetter)</td>
                    <td class="RightSide">@answerChoice?.AnswerText</td>
                </tr>
            }
        }
        <tr>
            <td class="LeftSide">Answer:</td>
            <td class="RightSide">
                <TelerikDropDownList Data="@_currentAnswerChoices_DropDown"
                                     Value="@_currentSelectedAnswer_DropDown"
                                     ValueChanged="@((string newValue) => CurrentAnswerChanged(newValue))"
                                     Enabled="true"
                                     Width="150px">
                    <DropDownListSettings>
                        <DropDownListPopupSettings Height="180px" />
                    </DropDownListSettings>
                </TelerikDropDownList>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="SpanBoth">
                <TelerikButton Class="UniformButton Submit" Enabled="@(QuestionsAnswered() == _questions?.Length)" OnClick="@(async () => await SubmitClicked())">Submit Answers</TelerikButton>
            </td>
        </tr>
    </table>
}

<style>
    .LeftSide {
        width: 50%;
        text-align: right;
        padding-right: 15px;
        font-size: larger;
    }
    .ResponseHeader {
        text-align: left;
        padding-left: 15px;
        border: solid black 2px;
    }
    .Response {
        text-align: left;
        padding-left: 15px;
        border: solid black 2px;
    }
    .Status {
        text-align: center;
        border: solid black 2px;
    }
    .RightSide {
        width: 50%;
        text-align: left;
        padding-left: 15px;
        font-size: larger;
    }
    .SpanBoth {
        text-align: center;
        padding-top: 45px;
        padding-left: 15px;
        font-size: larger;
    }
    .Submit {
        background-color: lightpink;
        font-weight: 700;
    }
    .UniformButton {
        width: 150px;
    }
    /* https://www.google.com/search?q=html+how+to+center+a+table+horizontally&rlz=1C1GCEU_enUS1109US1109&oq=html+how+to+center+a+table+horizontally&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB4yDQgCEAAYhgMYgAQYigUyBwgDEAAY7wUyCggEEAAYogQYiQUyCggFEAAYogQYiQXSAQoxMTcyM2owajE1qAIIsAIB8QV_PUctjqIs8Q&sourceid=chrome&ie=UTF-8 */
    .center-table {
        width: 80%; /* Or any specific width less than 100% */
        margin-left: auto;
        margin-right: auto;
    }
</style>